* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 100px;
}

.container {
    max-width: 1200px;
    height: 400px;
    
    margin-left: auto;
    margin-right: auto;
}

/* carousel */
#carousel {
    width: 100%;
    height: 100%;

    display: flex;
    flex-flow: row nowrap;
}

#carousel img {
    width: 80%;
    height: 100%;

    object-fit: cover;
}

/* previews */
#carousel #previews {
    width: 20%;
    height: 100%;

    position: relative;
}

#carousel:hover #previews i {
    opacity: .7;
    transition: opacity .3s;
}

#carousel #previews i {
    opacity: 0;
    transition: opacity .3s;
    filter: invert(1);
    z-index: 1;
}

#carousel #previews i:hover {
    cursor: pointer;
}

#carousel #previews #top-button {
    position: absolute;
    top: 5%;
    left: 50%;

    transform: translateX(-50%);
}

#carousel #previews #bottom-button {
    position: absolute;
    bottom: 5%;
    left: 50%;
    
    transform: translateX(-50%);
}

/* preview-img-wrapper */
#carousel #previews .preview-img-wrapper:before {
    background-color: black;
    display: block;
    width: 100%;
    height: 100%;

    position: absolute;

    content: "";
    opacity: .5;
}

#carousel #previews .preview-img-wrapper.active {
    border: 3px solid lightgray;
}

#carousel #previews .preview-img-wrapper.active::before {
    opacity: 0;
}

#carousel #previews .preview-img-wrapper .preview-img {
    width: 100%;
    height: 100%;

    object-fit: cover;
}
/* /preview-img-wrapper */
/* /previews */
/* /carousel */