* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 300px;
}

#carousel {
    max-width: 1000px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;

    position: relative;
}

#carousel img {
    width: 100%;
    height: 100%;

    object-fit: cover;
}

#carousel i {
    filter: invert(1);
    opacity: .7;
}

#carousel #top-button {
    position: absolute;
    top: 5%;
    left: 50%;

    transform: translateX(-50%);
}

#carousel #bottom-button {
    position: absolute;
    bottom: 5%;
    left: 50%;
    
    transform: translateX(-50%);
}